*{
    margin: 0;
    padding: 0;
    font-family: "google sans";
    color: white;
}

@font-face{
    font-family: 'press start';
    src : url('PressStart2P-Regular.ttf') format('truetype');
}

@keyframes bounce{
    0%{opacity: 0;transform: translateY(-3rem);}
    50%{opacity: 1; transform: translateY(0.8rem);}
}

@-moz-keyframes bounce {

}

@-o-keyframes bounce {

}

body {
    background-color: #014513;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0.5cm auto;
    font-size: 0.8cm;
    font-family:"press start";
}

.status {
    position: absolute;
    top: 0.5rem;
    right: 5rem;
}

.board{
    background-color: #078541;
    width: 35rem;
    height: 38rem;
    box-shadow: 0px 0px 20px 1px #111111;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
    grid-template-rows: 12rem 12rem 12rem 12rem;
    grid-column-gap:1rem;
    grid-row-gap: 0.5em;
    row-gap: 1em;
    padding: 2em;
    overflow: hidden;
    margin-top: 2em;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    height: 12rem;
    width: 8rem;
    text-align: center;
}

.front,.back{
    height: 100%;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.4s linear;
    border-radius: 1rem;

}

.front {
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.back {
    margin-top: -12rem;
    background-color: white;
    transform: perspective(600px) rotateY(180deg);
}

.back img {
    height: 100%;
    width: 100%;
}

.card div.front.tourned {
    transform: perspective(600px) rotateY(-180deg);
}

.card div.back.tourned {
    transform: perspective(600px) rotateY(0deg);
}

.triangle {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid red;
}

/*Formes modeling */
.heart {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ee3030;
    transform: rotate(-45deg);
    position: relative;
    top: 5rem;
    left: 3rem;
}

.heart::before{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ee3030;
    position: absolute;
    top: -0.75rem;
    left: 0;
    border-radius: 50%;
}

.heart::after{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0.75rem;
    background-color: #ee3030;
    border-radius: 50%;
}

.star {
    position: relative;
    top: -20px;
    left: 20px;
    margin: 50px 0;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.star::before {
    border-bottom: 70px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star::after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.goute {
    width: 6rem;
    height: 6rem;
    background-color: #ee3030;
    border-radius: 100%;
    position: relative;
    left: 1rem;
}

/*Notifications de succes ou echec */

.container-pop {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.9;
    z-index: 3;
    display: none;
}

.container-pop .pop-up {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.pop-up .btn {
    background-color: #078541;
    padding: 0.5em;
    margin-top: 10px;
    border: 1px solid #014513;
    cursor: pointer;
    border-radius: 1em;
}

.pop-up .btn:hover{
    background-color: #07743a;
    border: 1.8px solid #014513;
}

.pop-up .btn:focus{
    background-color: #07743a;
    border: 1.8px solid #014513;
}

.pop-up h1 {
    display: none;
}

.pop-up .anime{
    animation: bounce  2s;
}


.active {
    display: block;
}

.powered {
    position: absolute;
    bottom: 0.5rem;
    right: 5rem;
    font-size: 2em;
}