@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "space-mono";
  src: url("./../public/fonts/space-mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "space-mono";
  src: url("./../public/fonts/space-mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "space-mono";
  src: url("./../public/fonts/space-mono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "space-mono";
  src: url("./../public/fonts/space-mono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "press-start";
  src: url("./../public/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'space-mono';
  }
  body {
    background-image: url('./../public/img/bg3.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: repeat;
  }
}

:root{
  --col-size-4: 20vw;
  --col-size-6: 13vw;
}

.cols-4 {
  grid-template-columns: repeat(4, var(--col-size-4));
}

.cols-4 .back {
  margin-top: calc(-1 * var(--col-size-4));
}

.rows-4 {
  grid-template-rows: repeat(4, var(--col-size-4));
}


.cols-6 {
  grid-template-columns: repeat(6, var(--col-size-6));
}

.cols-6 .back {
  margin-top: calc(-1 * var(--col-size-6));
}

.rows-8 {
  grid-template-rows: repeat(8, var(--col-size-6));
}

.rows-9 {
  grid-template-rows: repeat(9, var(--col-size-6));
}

@media (min-width: 640px) {

  :root{
    --col-size-4: 22vw;
    --col-size-6: 14vw;
  }
}

@media (min-width: 768px) {

  :root{
    --col-size-4: 20vw;
    --col-size-6: 10vw;
  }

  /* .menu {
    width: 3rem;
    height: 3rem;
  } */
}

@media (min-width: 1024px) {
  :root{
    --col-size-4: 15vw;
    --col-size-6: 7vw;
  }
  
}

@media (min-width: 1280px) {
  :root{
    --col-size-4: 9vw;
    --col-size-6: 5vw;
  }
}

.front,.back{
  backface-visibility: hidden;
  transition: transform 0.4s linear;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.revealed .front {
  transform: perspective(600px) rotateY(-180deg);
}

.revealed .back {
  transform: perspective(600px) rotateY(0deg);
}